<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="{{ base_path() }}assets/css/index.css" rel="stylesheet">
    {% endblock %}
</head>
<body>

<div id="app">
    <v-app
            style="background-image: url({{ base_path() }}'assets/images/background.jpg') !important;background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size: cover;">
        <template>
            <v-navigation-drawer :right="this.$vuetify.rtl" floating permanent expand-on-hover dark
                                 color="rgb(32, 42, 55)" app>
                <v-list>
                    <v-list-item class="pa-0">
                        <v-list-item-avatar size="100%">
                            <v-img
                                    src="">
                            </v-img>
                        </v-list-item-avatar>
                    </v-list-item>
                </v-list>

                <v-divider></v-divider>

                <v-list subheader>
                    <v-list-item href="/" link>
                        <v-list-item-icon>
                            <v-icon>
                                mdi-home
                            </v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                            Главная
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item href="/servers" link>
                        <v-list-item-icon>
                            <v-badge dot color="green">
                                <v-icon>
                                    mdi-server
                                </v-icon>
                            </v-badge>
                        </v-list-item-icon>
                        <v-list-item-title>
                            Сервера
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item href="/stats" link>
                        <v-list-item-icon>
                            <v-icon>
                                mdi-account-group
                            </v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                            Статистика игроков
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </template>

        <template>
            <v-app-bar dense dark color="rgb(32, 42, 55)" app>
                <v-spacer></v-spacer>
                {% if (session.nickname != '') and (session.steam_id != '') %}
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn text dark v-on="on">
                                <v-avatar class="mr-1" size="30px">
                                    <v-img
                                            src="{{ session.avatar_icon }}">
                                    </v-img>
                                </v-avatar>
                                {{ session.nickname }}
                            </v-btn>
                        </template>

                        <v-list subheader>
                            <v-list-item href="/profile?steam_id={{ session.steam_id }}" link>
                                <v-list-item-title>
                                    Профиль
                                </v-list-item-title>
                            </v-list-item>
                            <v-list-item href="/auth/exit" link>
                                <v-list-item-title>Выйти</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                {% else %}
                    <v-btn text href="/auth">
                        <v-icon>
                            mdi-steam
                        </v-icon>
                    </v-btn>
                {% endif %}
            </v-app-bar>
        </template>

        <v-main>
            <v-container fluid>
                {% block body %}{% endblock %}
                <template>
                    <v-footer color="transparent">
                        <v-card tile flat width="100%" color="transparent" class="text-center">
                            <v-row align="center" justify="center">
                                <v-col cols="12" class="grey--text">
                                    FPS Web Interface by inzanty
                                    <br>
                                    Все права защищены © 2020
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-footer>
                </template>
            </v-container>
        </v-main>
    </v-app>
</div>

<script>
    var module_data = {};
    var module_methods = {};
    var module_fields = {};
</script>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
            integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
{% endblock %}

<script>
    const app = new Vue({
        el: '#app',
        delimiters: [
            "###", "###"
        ],
        vuetify: new Vuetify(),
        components: {
            'vue-typer': window.VueTyper.VueTyper
        },
        data: {
            tab001: null,
            tab002: null,
            tab003: null,
            test: true,
            ...module_data
        },
        methods: {
            ...module_methods
        },
        ...module_fields
    });
</script>
</body>
</html>